.Logo {
  position: relative;
  display: inline-block;
}

.Logo-chars {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Logo-chars--animated {
  animation: 2s ease-in-out infinite;
}

.Logo-chars--0 {
  animation-name: move-down;
}

.Logo-chars--1 {
  animation-name: move-up;
}

@keyframes move-down {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
