body {
  @apply .text-black
    .text-base
    .font-sans
    .antialiased
    .tracking-normal;

  min-width: 240px;
}

@media (max-width: 320px) {
  html {
    font-size: 15.06px; /* `text-base` becomes 16px */
  }
}

@media (max-width: 279px) {
  html {
    font-size: 13px; /* Weirdly small screens */
  }
}

svg {
  @apply .fill-current;
}

select {
  appearance: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTEgNyI+CiAgPHBvbHlnb24gZmlsbD0iIzJDMUIxOCIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjExIDAgNS41MjkgNyAwIDAiLz4KPC9zdmc+Cg==)
    no-repeat 92% 48%;
  padding: 0 0.7rem;
}
