html.Landing {
  font-size: 15.06px; /* `text-base` becomes 16px */
}

@media (min-width: config("screens.xl")) {
  html.Landing {
    font-size: 16px;
  }
}

.Landing-fact {
  margin: 1rem 0;
  max-width: 31.6rem;
}

.Landing-footer-link {
  @apply .block
    .text-inherit
    .no-underline
    .font-bold
    .p-1;
}

@media (min-width: config("screens.md")) {
  .Landing-fact--1 {
    margin-top: 0;
    margin-bottom: -160px;
  }

  .Landing-fact--2,
  .Landing-fact--3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: config("screens.sm")) {
  .Landing-footer-link {
    @apply .inline
      .p-3;
  }
}
