.Select__control {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.625rem;
  padding: 0.5rem 0.7rem;
}

.Select__indicators {
  display: inline-block;
}

.Select__placeholder,
.Select__single-value {
  display: none;
}

.Select__dropdown-indicator {
  padding: 0.5rem;
  padding-right: 0;
}

.Select__menu {
  top: 100%;
  background: #fff;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  max-height: 300px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  border: 3px solid;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  min-width: 10rem;
  cursor: pointer;
  overflow: hidden;
}

.Select__option {
  padding: 0.5rem 1rem;
}

.Select__control:hover,
.Select__control--isFocused,
.Select__option--isFocused {
  background-color: #ddd;
}
